<h1>Search Words</h1>

<%= form_tag do %>
  <%= text_field_tag :word %>
  <%= submit_tag 'Search' %>
<% end %>
  
<p> searched word: <%= @word %> </p> 

<li class="definition-list featured"> <%= @def_array[0] %></li>
<% for x in 1...@def_array.length %>
	<li class="definition-list secondary"> <%= @def_array[x] %></li>
<% end %>